:root{
  --body-0-color: #f9e42f;
  --body-0-shade: #fee843;
  --body-1-color:#a8e001;
  --body-1-shade: #b6e002;
  --body-2-color: #7949bf;
  --body-2-shade: #7949bf;
  --body-3-color: #01b4dd;
  --body-3-shade: #03b6d4;
  --body-4-color: #FFB4B4;
  --body-4-shade: #FFbCbC;
  --body-5-color: #ff0050;
  --body-5-shade: #fa0b63;
  --screen-color: #9e958e;
  --logo-text: #c0c0c0;
  --button-color: #020202;
  --border-radius-sm: 15px;
  --border-radius-lg: 75px;
  --margin-md: 1rem;
  --padding-md: 1rem;
}

*{
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

h2{
  font-family: 'Roboto', sans-serif;
  
}

h3{
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-family: 'Comfortaa', cursive;
  text-decoration: underline;
}

li, p{
  font-family: 'Comfortaa', cursive;
  list-style: none;

}

ul{
  padding: 0;
}

.poke-header{
  padding: 0.5rem;
  display: flex;
}


.wrapper{
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  align-items: center;
}

.body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 650px;
  width: 100%;
  max-width: 414px;
  padding: var(--padding-md);
  background-color: var(--body-0-color);
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
  /* position: relative; */
  justify-content: center;
  align-items: center;
}

.screen{
  background-color: var(--screen-color);
  background: url('./assets/noise.svg');
  /* position: absolute; */
  height: 100%;
  max-height: 300px;
  max-width: 320px;
  width: 100%;
  margin: var(--margin-md);
  border: 45px solid black;
  border-top: 35px solid black;
  border-radius: var(--border-radius-sm);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}
#app{
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: hidden;
  
}

.loading{
  margin: 5.6rem 5.2rem;
  position: relative;
}

.spinner{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 1rem 0;
  left: 0.1rem;
}

.initial-header{
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  margin: 0.5rem auto;
}

.poke-grid{
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0;
}

.poke-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 200px;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  margin: 0.5rem 1rem;
  
}

.poke-header{
  font-family: 'Mochiy Pop One', sans-serif;
  margin: 0;
}

.poke-image-wrapper > img {
  width: 100px;
  height: 100px;
}

.poke-image-wrapper > img:hover{
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.4ms ease-in-out;
}


.logo{
  position: absolute;
  bottom: -2em;
  color: var(--logo-text);
  left: 2em;
  width: 100%;
  z-index: 5;
  font-family: 'Comfortaa', cursive;
}

.logo-red{
  color: #fe0054;
  font-family: 'Mochiy Pop One', sans-serif;
}

.logo-purple{
  color: #7947b4;
  font-family: 'Mochiy Pop One', sans-serif;
}

.logo-green{
  color: #ace501;
  font-family: 'Mochiy Pop One', sans-serif;
}

.logo-yellow{
  color: #fbef1b;
  font-family: 'Mochiy Pop One', sans-serif;
}

.logo-blue{
  color: #02b7f0;
  font-family: 'Mochiy Pop One', sans-serif;
}

.power-div{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -2.4rem;
  top: 2rem;
}

.power-circle{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
  border: 1px solid black;
  margin: 0.2rem 0;
  animation: glow infinite 3s;
}

@keyframes glow{
  0%{
    opacity: 1;

  }
  50%{
    opacity: 0.7
  }
  100%{
    opacity: 1;
  }
}

.power-text{
  color: var(--logo-text);
  font-size: 0.6rem;
}

.buttons{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}
/* Adds shade */
.shade{
  background-color: var(--body-0-shade);
  z-index: 0;
  width: 82%;
  height:100%;
  position:absolute;
  top: -1.8rem;
  overflow: hidden;
  left: 2.2rem;
  border-bottom-left-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
}

.topButtons{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.leftButtons{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rightButtons{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button{
  width: 50px;
  height: 50px;
  background: black;
  color: white;
  border-radius: 100%;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

 
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.direction{
  background-color: var(--button-color);
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.button:hover{
  cursor: pointer;

}

.aButton{
  position: relative;
  bottom: 1.8rem;
}

.directional{
  display: grid;
  grid-template-areas: ".     top       ."
                       "left  middle right"
                       ".     bottom         .";
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
width: 100%;
max-width: 110px;
height: 100%;
max-height: 105px;
bottom: 1rem;
position: relative;

}



.direction:hover{
  cursor: pointer;
}

#direction-top{
  grid-area: top;
  background-image: url("./assets/top.svg");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

#direction-bottom{
  grid-area: bottom;
  background-image: url("./assets/down.svg");
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#direction-middle{
  grid-area: middle;
  background-image: url("./assets/circle.svg");
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  position: relative;
  bottom: 2px;
}

#direction-left{
  grid-area: left;
  background-image: url("./assets/left.svg");
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#direction-right{
  grid-area: right;
  background-image: url("./assets/right.svg");
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.filter{
  filter: invert(75%) sepia(1%) saturate(0%) hue-rotate(155deg) brightness(20%) contrast(88%);

  color: white;
  transform: translateY(-3px);
}

.filter:active, .direction{
  transform: translateY(-2px);
}



.filterLetter{
  color: #a9a9a9;
  filter:brightness(80%);
  display: block;
    padding: 8px 16px;
    border-radius: 100%;
    font-size: 1.25rem;
    background: var(--button-color);
    color: white;
    transform: translateY(-5px);
}

.filterLetter:active, .button{
  transform: translateY(-2px);
}

.bottomButtons{
  display: flex;
  height: 60%;
  width: 100%;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}



.select-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: relative;
  font-family: 'Comfortaa', cursive;
  font-size: 0.6rem;

}
.select-span{
  position: relative;
  top: 1rem;
  right: 0.1rem;
}

.start-span{
  position: relative;
  top: 1rem;
  left: 0.2rem;
}

#start:hover{
  cursor: pointer;
}

.select{
  height: 10px;
  width: 35px;
  background-color: var(--button-color);
  margin: var(--margin-md);
  border-radius: 5px;
}

.dots-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 75px;
  position: absolute;
  right: 0;
  bottom: 1.5rem;
  transform: rotate(-2deg);
}

.dots{
  width: 5px;
  height: 5px;
  margin: 0.1rem;
  padding: 0.1rem;
  border-radius: 100%;
  background-color: var(--button-color);
}

.invis{
  visibility: hidden;
}


.individual-pokemon{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.individual-left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.individual-left-side > h2{
  padding: 0.5rem;
}

.individual-right-side{
  display: flex;
  width: 100%;
  min-width: 230px;
  
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.individual-right-side > * {
  margin: 0.25rem;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallHeader{
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-decoration: underline;
  font-family: 'Comfortaa', cursive;
}


.start-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header header header"
                       "option-1 option-2 option-3"
                       "option-4 option-5 option-6";
  width: inherit;
  height: inherit;
  padding: 0.5rem;

}

.start-header{
  grid-area: header;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  align-self: center;
  justify-self: center;
}

#option-0{
  grid-area: option-1;
  filter: invert(93%) sepia(52%) saturate(988%) hue-rotate(339deg) brightness(101%) contrast(95%);
}
#option-1{
  grid-area: option-2;
  filter: invert(81%) sepia(15%) saturate(6007%) hue-rotate(26deg) brightness(103%) contrast(99%);
}
#option-2{
  grid-area: option-3;
  filter: invert(36%) sepia(41%) saturate(1340%) hue-rotate(229deg) brightness(88%) contrast(97%);
}
#option-3{
  grid-area: option-4;
  filter: invert(51%) sepia(43%) saturate(2589%) hue-rotate(155deg) brightness(99%) contrast(99%);

}
#option-4{
  grid-area: option-5;
  filter: invert(99%) sepia(44%) saturate(4780%) hue-rotate(290deg) brightness(102%) contrast(105%);
}
#option-5{
  grid-area: option-6;
  filter: invert(16%) sepia(90%) saturate(5676%) hue-rotate(334deg) brightness(96%) contrast(111%);

}

.theme-0-body{
  background-color: var(--body-0-color);
}
.theme-0-shade{
  background-color: var(--body-0-shade);
}
.theme-1-body{
  background-color: var(--body-1-color);
}
.theme-1-shade{
  background-color: var(--body-1-shade);
}
.theme-2-body{
  background-color: var(--body-2-color);
}
.theme-2-shade{
  background-color: var(--body-2-shade);
}
.theme-3-body{
  background-color: var(--body-3-color);
}
.theme-3-shade{
  background-color: var(--body-3-shade);
}
.theme-4-body{
  background-color: var(--body-4-color);
}
.theme-4-shade{
  background-color: var(--body-4-shade);
}
.theme-5-body{
  background-color: var(--body-5-color);
}
.theme-5-shade{
  background-color: var(--body-5-shade);
}

.selected{
  border: 5px dashed yellow;
}

@media screen and (max-width: 390px){
  .logo{
    left: 2.5rem;
  }
}

@media screen and (max-width: 375px){
  .logo{
    left: 2rem;
  }
}


